@page  "/bletris"
@using Bletris
<div>
    <b>This is a work in progress, the game works, but there are a couple of bugs and no sound</b>
    <p>Remember, there is <b>NO</b> javascript written here - just c#/css/wasm.</p>
    <span class="bs bs-information">Keys:</span>
    <span>Left: ⬅ or A</span><span>Right: ➡ or D</span><span>Rotate: ⬆ or W</span><span>Drop: ⬇ or S</span>
</div>
<div>
    <BletrisGame InitialDelay="810" />
</div>
