@page "/clocks"

<Clock Width="500" Height="125" ShowIcon="false" Title="America/New_York" OffsetHours="-4" />
<Clock Width="500" Height="125" ShowIcon="false" Title="Europe/London" OffsetHours="1" />
<Clock Width="500" Height="125" ShowIcon="false" Title="Europe/Paris" OffsetHours="2" />
<Clock Width="500" Height="125" ShowIcon="false" Title="Europe/Munich" OffsetHours="2" />
<span>...everybody talk about pop music...</span>
<Clock Width="500" Height="125" ShowIcon="false" Title="Asia/Kathmandu" OffsetHours="5" OffsetMinutes="45" />


