@page "/"

<h1>Blazor Playground</h1>

<div>A project to try out a few things in Blazor</div>

<a href="https://github.com/SQL-MisterMagoo/BlazorTest"> See GitHub for the source for each component. </a>
<a href="https://github.com/SQL-MisterMagoo/BlazorPlayground"> See GitHub for the source for this app. </a>
