@page "/"

<h1>Blazor Playground</h1>

<div>A project to try out a few things in Blazor</div>

<div>Minimal JS Interop is the aim.</div>

<a href="https://github.com/SQL-MisterMagoo/BlazorTest"> See GitHub for the source for each component. </a>
