@inherits BlazorLayoutComponent
@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor.Services

<div class="heading">
    <h1>Blazor Demos by Mister Magoo</h1>
    <span><a href="https://github.com/SQL-MisterMagoo/BlazorTest"> Source </a></span>

</div>
<CascadingValue Name="NavMenuController" Value="@ActivePage">
    <NavMenu />

    <div class="body">
        @Body
    </div>
</CascadingValue>

@functions
{
bool ActivePage = false;
[Inject] IUriHelper UriHelper { get; set; }

protected override void OnInit()
{
    base.OnInit();
    UriHelper.OnLocationChanged += OnLocationChanged;
    OnLocationChanged(this, UriHelper.GetAbsoluteUri());
}

private void OnLocationChanged(object sender, string e)
{
    var path = UriHelper.ToBaseRelativePath(UriHelper.GetBaseUri(), e);

    if (string.IsNullOrWhiteSpace(path) || path.Equals("/", StringComparison.Ordinal))
    {
        ActivePage = false;
    }
    else
    {
        ActivePage = true;
    }
    StateHasChanged();
}

}