
<div class=@className>
    <article class="nav-item" style="@Style">
        <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
            <span class="oi oi-home" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="bletris">
            <h1>Bletris - a tetris-style game in C#</h1>
            <span class="oi oi-list-rich" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="clocks">
            <h1>Clocks</h1>
            <span class="oi oi-list-rich" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="animate">
            <h1>Animation</h1>
            <span class="oi oi-list-rich" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="formtest">
            <h1>Form Entry</h1>
            <span class="oi oi-list-rich" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="treeview">
            <h1>Templated TreeView With CascadingValue</h1>
            <span class="oi oi-list-rich" aria-hidden="true"></span>
        </NavLink>
    </article>
</div>

@functions
{
[CascadingParameter(Name = "NavMenuController")] bool ActivePage { get; set; }

string className => ActivePage ? "nav-menu-small" : "nav-menu" ?? "nav-menu";

string Style => ActivePage ? "" : "display:none";

//
}