
<div class=@className>
    <article class="nav-item" style="@Style">
        <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
            <span class="nav-icon oi oi-home" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="bletris">
            <div class="nav-name">Bletris</div>
            <div class="nav-description">A tetris-style game in C#</div>
            <span class="nav-icon oi oi-puzzle-piece" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="clocks">
            <div class="nav-name">Clocks</div>
            <div class="nav-description">Just a bunch of Clocks</div>
            <span class="nav-icon oi oi-clock" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="animate">
            <div class="nav-name">Animation</div>
            <div class="nav-description">Animated SVGs using CSS properties</div>
            <span class="nav-icon oi oi-layers" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="formtest">
            <div class="nav-name">Form</div>
            <div class="nav-description">Example form entry using an EditorFor Component</div>
            <span class="nav-icon oi oi-spreadsheet" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="treeview">
            <div class="nav-name">TreeView</div>
            <div class="nav-description">Templated TreeView With CascadingValue</div>
            <span class="nav-icon oi oi-list-rich" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="sc">
            <div class="nav-name">Cascade</div>
            <div class="nav-description">Cascading Value With Checkbox</div>
            <span class="nav-icon oi oi-plus" aria-hidden="true"></span> 
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="cc">
            <div class="nav-name">Cascade+</div>
            <div class="nav-description">Cascading Value With Callback</div>
            <span class="nav-icon oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="sb">
            <div class="nav-name">Binding</div>
            <div class="nav-description">Binding checkbox values</div>
            <span class="nav-icon oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="sbc">
            <div class="nav-name">Binding+</div>
            <div class="nav-description">Binding with Callback</div>
            <span class="nav-icon oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="vb">
            <div class="nav-name">Bind-Value</div>
            <div class="nav-description">bind-Value Sample</div>
            <span class="nav-icon oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="vbc">
            <div class="nav-name">Bind-Value+</div>
            <div class="nav-description">bind-Value with Callback</div>
            <span class="nav-icon oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="vbcr">
            <div class="nav-name">Bind-Value++</div>
            <div class="nav-description">bind-Value Full Two-Way</div>
            <span class="nav-icon oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </article>
</div>

@functions
{
[CascadingParameter(Name = "NavMenuController")] bool ActivePage { get; set; }

string className => ActivePage ? "nav-menu-small" : "nav-menu" ?? "nav-menu";

string Style => ActivePage ? "" : "display:none";

//
}