<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorPlayground</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clocks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Clocks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="animate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Animation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formtest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sample Form
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="treeview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TreeView
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bletris">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bletris
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
