
<div class=@className>
    <article class="nav-item" style="@Style">
        <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="clocks">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Clocks
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="animate">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Animation
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="formtest">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Sample Form
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="treeview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> TreeView
        </NavLink>
    </article>
    <article class="nav-item">
        <NavLink class="nav-link" href="bletris">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Bletris
        </NavLink>
    </article>
</div>

@functions
{
[CascadingParameter(Name = "NavMenuController")] bool ActivePage { get; set; }

string className => ActivePage ? "nav-menu-small" : "nav-menu" ?? "nav-menu";

string Style => ActivePage ? "" : "display:none";

//
}